.worksBlock {
    height: 100vh;
    background-color: #343a40;
    padding: 50px 0px;


}

.worksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;


}

.title {
    background-color: coral;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}