.contBlock {
    background-color: #343a40;
}

.conContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: coral;
}

.forms {

    width: 50%;
    background-color: #ffc107;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.widthForms {
    width: 100%;

}

.subBut {
    padding: 10px 20px;
    background-color: #43fffa;


}


