@import "../../../common/styles/sass/variables";


.contactBox {
  display: flex;
  padding: 45px 24px;

}

.contactList {
  width: 50%;
  padding: 24px;
  background: $bgPrimary;
  border: 1px solid $border;
  margin: auto;
  list-style: none;

}

.contactTitle {
  color: $accentText;
  margin: 18px 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.contactText {
  color: $secondaryText;
  font-size: 16px;
  text-decoration: none;
}

.contactIcon {
  padding-right: 10px;
  opacity: 0.6;
}

@media (max-width: 1050px) {
  .contactList {
    width: 38%;
  }
  .contactText {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .contactBox {
    flex-direction: column;
    padding: 20px 24px;
  }

  .contactList {
    width: 100%;
    margin-bottom: 20px;
  }
}
