.skillsBlock {
    height: 100vh;
    background-color: #43fffa;/*#343a40;*/
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: coral;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
}