@import "../../../common/styles/sass/variables";


.projectBox {
  display: flex;
  width: 100%;
  padding: 0 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tiles {
  width: 450px;
  margin-bottom: 20px;
}

.tiles .tile {
  display: inline-block;
  margin: 10px;
  text-align: left;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.projectImage {
  border-radius: 20px;
}

.tiles .tile img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
}

.tiles .tile .details {
  font-size: 16px;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.details {
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.tiles .tile .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
}


.tiles .tile .details .title {
  line-height: 1;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 15px;
  color: #72b626;
}

.link {
  margin-left: 5px;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.icon {
  color: #72b626;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link:hover {
  color: #72b626;
  transition: 0.3ms;
}

.tiles .tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
  opacity: 1;
}

.tiles .tile:focus:before,
.tiles .tile:focus span,
.tiles .tile:hover:before,
.tiles .tile:hover span {
  opacity: 1;
}

.tiles .tile:focus:before,
.tiles .tile:focus span,
.tiles .tile:hover:before,
.tiles .tile:hover .details {
  background: rgba(17, 16, 16, 0.8);
}

.tiles .tile:focus:before,
.tiles .tile:hover:before {
  top: 50%;
}

.tiles .tile:focus span,
.tiles .tile:hover span {
  top: 0;
}

.tiles .tile:focus .title,
.tiles .tile:hover .title {
  transition-delay: 0.15s;
}

.tiles .tile:focus .info,
.tiles .tile:hover .info {
  transition-delay: 0.35s;
}

@media (max-width: 1200px) {
  .projectBox {
    flex-direction: column;
    align-items: center;
  }

  .tiles {
    width: 400px;
  }
}


@media (max-width: 600px) {
  .tiles {
    width: 300px;
    margin-bottom: 10px;
  }

  .projectBox {
    padding: 0;
    flex-direction: row;
  }
}

